
#cabeza {
    margin:auto;
    width:500px;
    font-family: Arial,Arial, Helvetica, sans-serif;
}
ul,ol{
    list-style-type: none;
}
.nav li  {
    background-color:  #ff5733;
    color:#fff;
    text-decoration: none;
    padding: 10px 15px;
    display:block;
}
.nav li:hover{
    background-color: #434343;
}
.nav > li
{
    float:left;
}
.nav li ul {
    display:none;
    position: absolute;
    min width: 140px;
}
.nav li:hover > ul {
    display:block;
}

